extends layout

block content

  div(class="hero-unit")
    <h1>Node.js To-Do List Example</h1>
    <p>This is a sample To-Do List application built with with <a href="http://expressjs.com/">Node.js + Express</a> for serving web pages. It uses <a href="http://underscorejs.org/">Underscore.js</a> for manipulating data stored on <a href="http://www.mongodb.org/">MongoDB</a>. Layout powered by <a href="http://twitter.github.com/bootstrap" target="_blank">Twitter Bootstrap</a>.</p>
    <p><a class="btn btn-primary btn-large" href="/tasks">Use the app &raquo;</a></p>