doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap.css')
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    div(id="wrap")
        div(class="navbar navbar-inverse navbar-fixed-top")
          div(class="navbar-inner")
            div(class="container")

              a(class="btn btn-navbar")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")

              <a class="brand" href="/">Node.js To Do List</a>
              div(class="nav-collapse collapse")
                ul(class="nav")
                  <li class="#{activetab == 'index' ? 'active':''}"><a href="/">Home</a></li>
                  <li class="#{activetab == 'tasks' ? 'active':''}"><a href="/tasks">To-do's</a></li>

        div(class="container")
          block content
        <div id="push"></div>

    div(id="footer")
      div(class="container")
        <p class="muted credit">Example courtesy of <a href="https://github.com/ludogoarin">Ludo Goarin</a>.</p>

    <script src="href='http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="href='http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>

